.frontend{
    background-image: url(frontend\ images.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   
    
}
.html{
      background-image: url(images\ f1.jpeg);
      height: 100vh;
      background-size: 100% 100%;
      background-attachment: fixed;
    

}

.css{
    background-image: url(images\ f2.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}
.js{
    background-image: url(images\ f3.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    

}
.reactjs{
    background-image: url(image\ f4.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    box-shadow: 2px 2px 5px 10px #808080;

}
.angular{
    background-image: url(image\ f5.jpg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}
.vuejs{
    background-image: url(image\ f6.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}
.flutter{
    background-image: url(image\ f7.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}
.nextjs{
    background-image: url(image\ f8.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}
.typescript{
    background-image: url(image\ f9.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   


}
.reactnative{
    background-image: url(image\ f10.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
  

}
.backend{
    background-image: url(backend\ 1.png);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}
.java{
    background-image: url(image\ b2.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}
.php{
    background-image: url(image\ b3.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   ;

}
.nodejs{
    background-image: url(image\ b4.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   ;

}
.python{
    background-image: url(image\ b5.jpeg);
    height:100vh ;
    background-size: cover;
    background-attachment: fixed;
    

}

.ruby{
    background-image: url(image\ b6.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    

}
 .c#{
    background-image: url(image\ b7.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}


.kotlin{
    background-image: url(image\ b8.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    

}

.mern{
    background-image: url(mern1.png);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}

.mongodb{
    background-image: url(mern\ 5.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    

}
.expressjs{
    background-image: url(mern\ 2.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}

.react{
    background-image: url(mern\ 3.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}

.nodejs2{
    background-image: url(mern\ 4.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}
.mean{
    background-image: url(mean.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
  

}

.mongodb2{
    background-image: url(mean1.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    

}

.expressjs2{
    background-image: url(mean\ 2.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
  

}
.angular2{
    background-image: url(mean\ 3.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
   

}

.nodejs3{
    background-image: url(mean\ 4.jpeg);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    

}

